{{ define "layout" }}
<!DOCTYPE html>
<html>
<head>
    <title>¿Who Knows?</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<div class="page">
    <div class="navigation">
        <nav>
            <h1><a id="nav-logo" href="/">¿Who Knows?</a></h1>
            {{ if .User }}
                <a id="nav-logout" href="/api/logout">Log out [{{ .User }}]</a>
            {{ else }}
                <a id="nav-login" href="/login">Log in</a>
                <a id="nav-register" href="/register">Register</a>
            {{ end }}
        </nav>
    </div>

    {{ if .Flash }}
        <ul class="flashes">
            <li>{{ .Flash }}</li>
        </ul>
    {{ end }}

    <div class="body">
        {{ template "content" . }}
    </div>

    <div class="footer">
        <span>¿Who Knows? &copy; 2009</span>
        <a href="/about">About</a>
    </div>
</div>
</body>
</html>
{{ end }}